<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
    <File name="BoidTrace" fileName="debug/boid_trace.log" />
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" level="info" />
    </Root>
    <Logger name="io.world.AbstractBoid" level="trace">
      <AppenderRef ref="BoidTrace" />
    </Logger>
  </Loggers>
</Configuration>